<?xml version="1.0" encoding="UTF-16"?>
<Task version="1.2" xmlns="http://schemas.microsoft.com/windows/2004/02/mit/task">
  <RegistrationInfo>
    <Author>{{ hostname }}\{{ username }}</Author>
    <Description>Unison task for profile - {{ profile }}</Description>
    <URI>\unison\unison_{{ profile }}</URI>
  </RegistrationInfo>
  <Triggers>
    <RegistrationTrigger>
      <Repetition>
        <Interval>PT1H</Interval>
        <StopAtDurationEnd>false</StopAtDurationEnd>
      </Repetition>
      <ExecutionTimeLimit>PT4H</ExecutionTimeLimit>
      <Enabled>true</Enabled>
      <Delay>PT15M</Delay>
    </RegistrationTrigger>
  </Triggers>
  <Principals>
    <Principal id="{{ username }}">
{%- if userID %}
      <UserId>{{ userID }}</UserId>
{%- endif %}
      <LogonType>S4U</LogonType>
      <DisplayName>{{ username }}</DisplayName>
      <RunLevel>HighestAvailable</RunLevel>
    </Principal>
  </Principals>
  <Settings>
    <MultipleInstancesPolicy>IgnoreNew</MultipleInstancesPolicy>
    <DisallowStartIfOnBatteries>true</DisallowStartIfOnBatteries>
    <StopIfGoingOnBatteries>false</StopIfGoingOnBatteries>
    <AllowHardTerminate>true</AllowHardTerminate>
    <StartWhenAvailable>false</StartWhenAvailable>
    <RunOnlyIfNetworkAvailable>true</RunOnlyIfNetworkAvailable>
    <IdleSettings>
      <StopOnIdleEnd>true</StopOnIdleEnd>
      <RestartOnIdle>false</RestartOnIdle>
    </IdleSettings>
    <AllowStartOnDemand>true</AllowStartOnDemand>
    <Enabled>true</Enabled>
    <Hidden>true</Hidden>
    <RunOnlyIfIdle>false</RunOnlyIfIdle>
    <WakeToRun>false</WakeToRun>
    <ExecutionTimeLimit>PT8H</ExecutionTimeLimit>
    <Priority>7</Priority>
  </Settings>
  <Actions Context="{{ username }}">
    <Exec id="Execute_ID1">
      <Command>{{ command }}</Command>
      <Arguments>{{ arguments }}</Arguments>
      <WorkingDirectory>{{ workdir }}</WorkingDirectory>
    </Exec>
  </Actions>
</Task>

